h1 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
}

button {
  padding: 40px;
}

p {
  font-family: Verdana, sans-serif;
}

span {
  background: yellow;
}

strong {
  color: red;
}
